
html,
body {
  width: 100%;
  height: 100%;
}

#homepic {
  display: table;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, .9), rgba(100, 100, 100, 0)), url('img/airfront.jpg') no-repeat center;
  background-size: cover;
}

.heading {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 85px;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  margin: auto;
}


.container {
  text-align: center;
  vertical-align: middle;
 
}

#contact {
  background: linear-gradient(#ffb347,#ffcc33);
  display: table;
  font-size: 1.5em;
  border-radius: 25px;
}
