html,
body {
  width: 100%;
  height: 100%;

}

#homepic {
  display: table;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, .9), rgba(100, 100, 100, 0)), url('img/airfront.jpg') no-repeat center;
  background-size: cover;
}

.heading {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 85px;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  margin: auto;
}

.container {
  text-align: center;
  vertical-align: middle;
}

#contact {
  background: linear-gradient(#ffb347, #ffcc33);
  display: table;
  font-size: 1.5em;
  border-radius: 25px;
}

#testimonials {
  background: linear-gradient(to right, #00d2ff, #317bd5);
  border-radius: 25px;
}

#test {
  background: #fc354c;

   border-radius: 25px;
   color: white;
}
#copy{
  background-color: red;

  border-radius: 25px;
  color: white;
}

.row {
  margin-bottom: 20px;
  text-align: center;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, .2);
}
.time{
  background-color: red

}