html,
body {
  width: 100%;
  height: 100%;
  background-color: #333333;
}

#homepic {
  display: table;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, .9), rgba(100, 100, 100, 0)), url('img/airfront.jpg') no-repeat center;
  background-size: cover;
}

.heading {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 85px;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  margin: auto;
}

.container {
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
  
  
}
h3{
   font-family: 'Lobster', cursive;
}
p{
  font-family: 'Petit Formal Script', cursive;
  
}

#contact {
  background: #FFCC00;
  color:black;
  display: table;
  font-size: 1.5em;
  border-radius: 25px;
  font-family: 'Lobster', cursive;
  box-shadow: 5px 5px #993366;
}

#testimonials {
  
  background: #333333;
  border-radius: 25px;
}

#test {
   color: black;
   font-family: 'Lobster Two', cursive;
   font-size: 25px;
   box-shadow: 5px 5px #669966;
   background-color: #FFCC00;
}
#copy{
  font-family: 'Lobster', cursive;
  background-color: #669966;
  color: white;
}

.row {
  margin-bottom: 20px;
  text-align: center;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
.jumbotron{
  background-color: #FFCC00;
  color: black;
  box-shadow: 5px 5px  #669966;
}
.card{
  background-color:#FFCC00;
  box-shadow: 5px 5px #993366;
}
.topic{
  text-align: center;
  font-size: 37px;
  background-color: #FFCC00;
  font-family: 'Lobster', cursive;
  box-shadow: 5px 5px #993366;
}
#special{
   box-shadow: 5px 5px #669966;
}

 @media(min-width:768px){
      h1 {
        font-size: 85px;
      }
 }
  @media(min-width:992px){
      h1 {
        font-size: 92px;
      }
 }
  @media(min-width:1200px){
      h1 {
        font-size: 97px;
      }
 }

 

